URxvt.depth: 32
!urxvt*transparent: true
!urxvt*shading: 50
!urxvt*blurRadius: 3
urxvt*.scrollBar:false
!URxvt*font:	xft:mono:medium:size=10
!URxvt*font: xft:DejaVu Sans Mono:size=10
!URxvt.font:     xft:bitstream vera sans mono:size=9:antialias=true
!URxvt.boldFont: xft:bitstream vera sans mono:bold:size=9:antialias=true
!URxvt.font:	xft:Cantarell:light:size=9:antialias=true
URxvt.font:	xft:SourceCodePro-ExtraLight:size=9:antialias=true
!URxvt*font:    xft:Hack Nerd Font:style=Regular:size=11
URxvt.boldFont: xft:SourceCodePro-Bold:size=9:antialias=true
URxvt.internalBorder: 0
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt*internalBorder: 4
